<!-- toolbar section of the store with cart -->
<app-toolbar></app-toolbar>
<main>
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <img src="../../../../../assets/images/product_1.jpg" alt="Product 1" class="img-fluid">
          </div>
          <div class="col-md-3">
              <img src="../../../../../assets/images/product_2.jpg" alt="Product 2" class="img-fluid">
          </div>
          <div class="col-md-3">
              <img src="../../../../../assets/images/product_3.jpg" alt="Product 3" class="img-fluid">
          </div>
          <div class="col-md-3">
              <img src="../../../../../assets/images/product_4.jpg" alt="Product 4" class="img-fluid">
          </div>
      </div>
  </div>
  <section class="product-area">
  </section>
</main>
